body {
  background-color: #0271df4d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}
.MainBox {
  background: #0271dfa7;
  padding: 1rem;
  margin: 0.5rem;
}
.SideBox {
  background: #0271dfa7;
  padding: 1rem;
  margin: 0.5rem;
}

.PageMain {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1/3 + 2/3 */
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 0.5rem;
}

.PageMain > p {
  grid-column: 1 / 3;
  padding: 1rem;
}
